$black-font: #4E4E4E;
$white-font: #FEFEFE;
$gray-font: #B9B9B9;
$hover-menu: #E5E5E5;
$selected :#57A4A4;
$menu-small-background:#F5F5F5;
$roboto:'Roboto',sans-serif;
$color-author:#7C7C7C;
$post-color-description:#5C5C5C;
$instagram-shot-background:#f7f7f7;